<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
<div class='post-item'>
  <% curr_post_path = "posts/"+post.id.to_s %>
  <h2 class='post-title'><%= link_to post.title, curr_post_path %></h2>
  <h5 class='post-content'>
    <%= truncate(post.content, :length => 500, :separator => ' ') %>
    <%= link_to "[read more]", curr_post_path %>
  </h5>
  <h6 class='post-time'>Posted <%= time_ago_in_words(post.created_at) %> ago</h6>
</div>
<% end %>

<!--%= paginate @posts %-->

