<header>
  <nav>
    <ul>
      <li class='about <%= is_active?(params[:action], 'about') %>'>
        <%= link_to "About", root_path %>
      </li>
      <li class='blog <%= is_active?(params[:action], 'blog') %>'>
        <%= link_to "Blog", blog_path %>
      </li>
      <li class='portfolio <%= is_active?(params[:action], 'portfolio') %>'>
        <%= link_to "Portfolio", portfolio_path %>
      </li>
      <li class='contact <%= is_active?(params[:action], 'contact') %>'>
        <%= link_to "Contact", contact_path %>
      </li>
    </ul>
  </nav>
</header>

